*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
html {
    background-color: #0b1016;
    overflow: hidden;
}
body {
    border: 15px ridge #47555c;
    
}
.wrapper1   {
    width: 99.9vw;
    height: 99.9vh;
    background-image: url(https://64.media.tumblr.com/1fe743f20251f5f8fcce60fc517f669a/f00c20710136b1db-8e/s500x750/936561bde05b0207daf145808b7035153104ecef.gif);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: .15rem;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 7px;
    justify-content: space-evenly;
    z-index: 10;
}

.left   {
    width: 18%;
    height: 85%;
    background-color: #54c2a591;
    border-radius: .15rem;
    align-self: left;
}

.right  {
    width: 18%;
    height: 85%;
    background-color: #54c2a591;
    border-radius: .15rem;
    align-self: right;
}

.top  {
    width: 100%;
    height: 3rem;
    background-color: #6fd1e2b6;
    padding: 7px;
    border-radius: .15rem;
}

.middle   {
    width: 60%;
    height: 85%;
    background-color: rgba(135, 206, 250, 0.543);
    border-radius: .15rem;
    align-self: center;
}

.boxes {
    width: 100%;
    height: 100%;
    border: 10px #060a0f ridge;
    border-radius: .15rem;
}
