*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
html {
    background-color: #0b1016;
    overflow: hidden;
    width: 99.9vw;
    height: 99.9vh;
}
body {
    background-image: url(https://64.media.tumblr.com/1fe743f20251f5f8fcce60fc517f669a/f00c20710136b1db-8e/s500x750/936561bde05b0207daf145808b7035153104ecef.gif);
    background-repeat: no-repeat;
    background-size:cover;
    width: 99.9vw;
    height: 99.9vh;
}
.wrapper1   {
    border-radius: .15rem;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background: linear-gradient(135deg, #00b9e2d5 0%, #89e0ffd5 53%, #004eb4d5 100%);;
    border: 15px ridge #47555c;
    padding: 7px;
    justify-content: space-evenly;
    width: 99.9vw;
    height: 99.9vh;
}

.left   {
    width: 45%;
    height: 85%;
    background: linear-gradient(135deg, #6ae8fe7d 0%, #8bd2ff7d 53%, #6ae8fe7d 100%);
    border-radius: .15rem;
    align-self: left;
}

.right  {
    width: 45%;
    height: 85%;
    background: linear-gradient(135deg, #6ae8feac 0%, #8bd2ffac 53%, #6ae8feac 100%);
    border-radius: .15rem;
    align-self: right;
}

.top  {
    width: 100%;
    height: 3rem;
    background-color: #6fd1e2b6;
    padding: 7px;
    border-radius: .15rem;
}

.boxes {
    width: 100%;
    height: 100%;
    border: 10px #060a0f ridge;
    border-radius: .15rem;
}
