<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="base-layout.html" />
    <title></title>
    <meta name="description" content="testing layouts">
    <meta name="keywords" content="html,css,js,personal,code test" />
    <link rel="stylesheet" type="text/css" href="test.css">
    <link rel="stylesheet" type="text/css" href="https://lichenthropic.neocities.org/stylesheets/crt.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body class="crt">
    <div class="page-grid">
        <header>
            <h1>Header</h1>
        </header>
        <main>

        </main>
    <aside>
        <h2>Sidebar</h2>
        <p>Sidebar Content</p>
    <nav>
        <div class="sidebar-grid">

            <article>
                <a href="main.html">
                    <button>
                        home
                    </button>
                </a>
            </article>

            <article>
                <a href="featured.html">
                    <button>
                        featured
                    </button>
                </a>
            </article>
            <article>
                <a href="page1.html">
                    <button>
                        page 1
                    </button>
                </a>
            </article>
            <article>
                <a href="page2.html">
                    <button>
                        page 2
                    </button>
                </a>
            </article>
            <article>
                <a href="page3.html">
                    <button>
                        page 3
                    </button>
                </a>
            </article>
            <article>
                <a href="page4.html">
                    <button>
                        page 4
                    </button>
                </a>
            </article>
            <article>
                <a href="page5.html">
                    <button>
                        page 5
                    </button>
                </a>
            </article>
            <article>
                <a href="page6.html">
                    <button>
                        page 6
                    </button>
                </a>
            </article>
        </div>
    </nav>
    </aside>
        <footer> 
            FOOTER
        </footer>
    </body>
</html>