<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <script src="{{ nesting }}/scripts/base.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ nesting }}stylesheets/test.css" />
    <link rel="stylesheet" type="text/css" href="https://lichenthropic.neocities.org/stylesheets/crt.css" />
    <link href="{{ nesting }}assets/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body class="{{ bodyClass }}">
    <div class="page-grid">
        <header>
            <h1>Header</h1>
        </header>
        <main>
            {{ content | safe }}
        </main>
    <aside>
        <h2>Sidebar</h2>
        <p>Sidebar Content</p>
    <nav>
        <div class="sidebar-grid">

            <article>
                <a href="{{ nesting }}pages/main.html">
                    <button>
                        home
                    </button>
                </a>
            </article>

            <article>
                <a href="{{ nesting }}pages/featured.html">
                    <button>
                        featured
                    </button>
                </a>
            </article>
            <article>
                <a href="{{ nesting }}pages/page1.html">
                    <button>
                        page 1
                    </button>
                </a>
            </article>
            <article>
                <a href="{{ nesting }}pages/page2.html">
                    <button>
                        page 2
                    </button>
                </a>
            </article>
            <article>
                <a href="{{ nesting }}pages/page3.html">
                    <button>
                        page 3
                    </button>
                </a>
            </article>
            <article>
                <a href="{{ nesting }}pages/page4.html">
                    <button>
                        page 4
                    </button>
                </a>
            </article>
            <article>
                <a href="{{ nesting }}pages/page5.html">
                    <button>
                        page 5
                    </button>
                </a>
            </article>
            <article>
                <a href="{{ nesting }}pages/page6.html">
                    <button>
                        page 6
                    </button>
                </a>
            </article>
        </div>
    </nav>
    </aside>
        <footer> 
            FOOTER
        </footer>
    </body>
</html>